---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Bitstream;
$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #fff;
$background-color: #000;
$brand-color:      #79a137;
$yellow:           #f2c13b;
$red:              #f2624d;
$nut:              #c78032;
$martian-red:      #f58e86;
$painted-red:      #ff5d5d;
$light-source:     #fff;
$muttnik:          #9e76b2;
$three-d:          #6d6d83;
$martian-rambler:  #ee9c4d;
$buzzed-aldrin:    #d8b309;
$double-black-hole: #7b92ff;
$beta-cru:         #f8af3c;
$deep-sky:         #bade5a;
$plane-shifter:    #b598da;
$pillars-of-creation:    #fee8aa;
$apollo-smash:     #fff200;

$grey-color:       #fff;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1200px;
//$on-palm:          600px;
$on-palm:          880px;
$on-laptop:        1200px;
$laptop-width:     1000px;
$phone-width:      100%;

// Font Families
@font-face {
    font-family: Bitstream;
    src: url(/fonts/Bitstream.ttf);
}

@font-face {
    font-family: Bitstream;
    src: url(/fonts/BitstreamBold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Bitstream;
    src: url(/fonts/BitstreamHeavy.ttf);
    font-weight: 900;
}

@font-face {
    font-family: Davida;
    src: url(/fonts/DavidaD.otf);
}

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "home",
        "base",
        "layout",
        "syntax-highlighting",
        "xpa",
        "crop-formation",
        "beer-bar",
        "habitable-saizon",
        "cosmonut",
        "martian",
        "paint-planet-red",
        "light-source",
        "creators",
        "our-craft",
        "events",
        "contact",
        "muttnik",
        "3d",
        "martian-rambler",
        "buzzed-aldrin",
        "double-black-hole",
        "beta-cru",
        "deep-sky",
        "plane-shifter",
        "pillars-of-creation",
        "apollo-smash",
        "mediapage",
        "find-us",
        "welcome",
        "limited-releases",
        "photos"
;
