<div class='beer-bar'>
  <p>Try Our Beer</p>
  <a href='{{ site.url }}/planet-xpa'>
    <div class='planet-xpa-link {{page.planet-xpa}}'></div>
  </a>
  <a href='{{ site.url }}/crop-formation'>
    <div class='crop-formation-link {{page.crop-formation}}'></div>
  </a>
  <a href='{{ site.url }}/habitable-saizone'>
    <div class='habitable-saizone-link {{page.habitable-saizone}}'></div>
  </a>
  <a href='{{ site.url }}/cosmonut'>
    <div class='cosmonut-link {{page.cosmonut}}'></div>
  </a>
  <a href='{{ site.url }}/dark-martian'>
    <div class='dark-martian-link {{page.dark-martian}}'></div>
  </a>
  <a href='{{ site.url }}/paint-planet-red'>
    <div class='paint-planet-red-link {{page.paint-planet-red}}'></div>
  </a>
  <a href='{{ site.url }}/light-source'>
    <div class='light-source-link {{page.paint-planet-red}}'></div>
  </a>
</div>
