<div class='beer-bar'>
  <p>Try Our Beer</p>
  <a href='{{ site.url }}/planet-xpa'>
    <img class='{{page.planet-xpa}}' alt='planet xpa' src='{{ site.url }}/images/2-TryOurBeer-PlanerXPA/desktop/link-planetXPA.png'>
  </a>
  <a href='{{ site.url }}/crop-formation'>
    <img class='{{page.crop-formation}}' alt='crop formation' src='{{ site.url }}/images/2-TryOurBeer-PlanerXPA/desktop/link-cropformation.png'>
  </a>
  <a href='{{ site.url }}/habitable-saizone'>
    <img class='{{page.habitable-saizone}}' alt='habitable saizone' src='{{ site.url }}/images/2-TryOurBeer-PlanerXPA/desktop/link-habitablesaizone.png'>
  </a>
  <a href='{{ site.url }}/cosmonut'>
    <img class='{{page.cosmonut}}' alt='cosmonut' src='{{ site.url }}/images/2-TryOurBeer-PlanerXPA/desktop/link-cosmonut.png'>
  </a>
  <a href='{{ site.url }}/dark-martian'>
    <img class='{{page.dark-martian}}' alt='dark martian' src='{{ site.url }}/images/2-TryOurBeer-PlanerXPA/desktop/link-darkmartian.png'>
  </a>
  <a href='{{ site.url }}/paint-planet-red'>
    <img class='{{page.paint-planet-red}}' alt='paint planet red' src='{{ site.url }}/images/2-TryOurBeer-PlanerXPA/desktop/link-paintplanetred.png'>
  </a>
</div>
