.beer-bar {
  margin-left: 50px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  float: left;
  @include media-query($on-laptop) {
    margin-left: 120px;
  }
  p {
    margin-left: 50px;
    @include media-query($on-laptop) {
      margin-left: 35px;
      font-size: .8em;
    }
  }
  .scroll {
    font-size: .8em;
    @include media-query($on-laptop) {
      font-size: .6em;
    }
  }
  .beers {
    width: 184px;
    height: 680px;
    overflow: scroll;
    @include media-query($on-laptop) {
      height: 455px;
      width: 141px;
    }
    div {
      display: block;
      margin-bottom: 15px;
      margin-left: 50px;
      border: 1px solid transparent;
      -webkit-transition: all 1s;
      transition: all 1s;
      @include media-query($on-laptop) {
        margin-left: 35px;
      }
    }
    div:hover {
      border: 1px solid #fff;
      margin-left: 0px;
    }
    .active {
      margin-left: 0px;
      border: 1px solid #fff;
    }
  }
}

.beer-bar:hover {
  .active {
    margin-left: 50px;
    border: 0;
    @include media-query($on-laptop) {
      margin-left: 35px;
    }
  }
  .active:hover {
    margin-left: 0px;
    border: 1px solid #fff;
  }
}

// IMAGES
.planet-xpa-link {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/link-planetXPA.png);
  height: 97px;
  width: 137px;
  @include media-query($on-laptop) {
    background: url(/images/2-TryOurBeer-PlanerXPA/tablet/link-planetXPA.png);
    height: 75px;
    width: 106px;
  }
}

.crop-formation-link {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/link-cropformation.png);
  height: 97px;
  width: 137px;
  @include media-query($on-laptop) {
    background: url(/images/2-TryOurBeer-PlanerXPA/tablet/link-cropformation.png);
    height: 75px;
    width: 106px;
  }
}

.habitable-saizon-link {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/link-habitablesaizone.png);
  height: 97px;
  width: 137px;
  @include media-query($on-laptop) {
    background: url(/images/2-TryOurBeer-PlanerXPA/tablet/link-habitablesaizone.png);
    height: 75px;
    width: 106px;
  }
}

.cosmonut-link {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/link-cosmonut.png);
  height: 97px;
  width: 137px;
  @include media-query($on-laptop) {
    background: url(/images/2-TryOurBeer-PlanerXPA/tablet/link-cosmonut.png);
    height: 75px;
    width: 106px;
  }
}

.dark-martian-link {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/link-darkmartian.png);
  height: 97px;
  width: 137px;
  @include media-query($on-laptop) {
    background: url(/images/2-TryOurBeer-PlanerXPA/tablet/link-darkmartian.png);
    height: 75px;
    width: 106px;
  }
}

.paint-planet-red-link {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/link-paintplanetred.png);
  height: 97px;
  width: 137px;
  @include media-query($on-laptop) {
    background: url(/images/2-TryOurBeer-PlanerXPA/tablet/link-paintplanetred.png);
    height: 75px;
    width: 106px;
  }
}

.light-source-link {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/link-lightsource.png);
  height: 97px;
  width: 137px;
  @include media-query($on-laptop) {
    background: url(/images/2-TryOurBeer-PlanerXPA/tablet/link-lightsource.png);
    height: 75px;
    width: 106px;
  }
}
