.beer-bar {
  width: 134px;
  margin-left: 50px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  float: left;
  div {
    display: block;
    margin-bottom: 15px;
    border: 1px solid transparent;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  div:hover {
    border: 1px solid #fff;
    margin-left: -50px;
  }
  .active {
    margin-left: -50px;
    border: 1px solid #fff;
  }
}

.beer-bar:hover {
  .active {
    margin-left: 0;
  }
  .active:hover {
    margin-left: -50px;
  }
}

// IMAGES
.planet-xpa-link {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/link-planetXPA.png);
  height: 97px;
  width: 137px;
}

.crop-formation-link {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/link-cropformation.png);
  height: 97px;
  width: 137px;
}

.habitable-saizon-link {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/link-habitablesaizone.png);
  height: 97px;
  width: 137px;
}

.cosmonut-link {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/link-cosmonut.png);
  height: 97px;
  width: 137px;
}

.dark-martian-link {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/link-darkmartian.png);
  height: 97px;
  width: 137px;
}

.paint-planet-red-link {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/link-paintplanetred.png);
  height: 97px;
  width: 137px;
}

.light-source-link {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/link-lightsource.png);
  height: 97px;
  width: 137px;
}
