.beer-bar {
  margin-left: 50px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  float: left;
  z-index: 9;
  @include media-query($on-laptop) {
    margin-left: 100px;
  }
  @include media-query($on-palm) {
    display: block;
    margin-left: 0;
    float: none;
    overflow: scroll;
  }
  p {
    margin-left: 40px;
    padding: 0 10px 10px;
    border-bottom: 1px solid #fff;
    margin-bottom: 0;
    @include media-query($on-laptop) {
      margin-left: 25px;
      font-size: .8em;
    }
    @include media-query($on-palm) {
      display: none;
    }
  }
  .scroll {
    font-size: .8em;
    border-top: 1px solid #fff;
    padding: 10px 10px 0;
    border-bottom: none;
    @include media-query($on-laptop) {
      font-size: .6em;
    }
    @include media-query($on-palm) {
      display: none;
    }
  }
  .beers {
    width: 189px;
    height: 540px;
    overflow: scroll;
    padding-top: 10px;
    @include media-query($on-laptop) {
      height: 455px;
      width: 141px;
    }
    @include media-query($on-palm) {
      width: 1200px;
      height: 20px;
      overflow: visible;
      margin-bottom: 40px;
    }
    div {
      display: block;
      margin-bottom: 15px;
      margin-left: 50px;
      border: 1px solid transparent;
      -webkit-transition: all 1s;
      transition: all 1s;
      @include media-query($on-laptop) {
        margin-left: 35px;
      }
      @include media-query($on-palm) {
        display: inline-block;
        margin-left: 0;
        border: none;
      }
    }
    div:hover {
      border: 1px solid #fff;
      margin-left: 0px;
      @include media-query($on-palm) {
        border: none;
      }
    }
    .active {
      margin-left: 0px;
      border: 1px solid #fff;
      @include media-query($on-palm) {
        border: none;
      }
    }
    a:hover {
      text-decoration: none;
    }
  }
}

.beers::-webkit-scrollbar {
    display: none;
}

.beer-bar:hover {
  .active {
    margin-left: 50px;
    border: 0;
    @include media-query($on-laptop) {
      margin-left: 35px;
    }
    @include media-query($on-palm) {
      margin-left: 0;
    }
  }
  .active:hover {
    margin-left: 0px;
    border: 1px solid #fff;
    @include media-query($on-palm) {
      border: none;
    }
  }
}

// IMAGES
.planet-xpa-link {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/link-planetXPA.png);
  height: 97px;
  width: 134px;
  @include media-query($on-laptop) {
    background: url(/images/2-TryOurBeer-PlanerXPA/tablet/link-planetXPA.png);
    height: 75px;
    width: 106px;
  }
  @include media-query($on-palm) {
    background: url(/images/2-TryOurBeer-PlanerXPA/-mobile/link-XPA.png);
    height: 20px;
    width: 136px;
  }
}

.crop-formation-link {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/link-cropformation.png);
  height: 97px;
  width: 134px;
  @include media-query($on-laptop) {
    background: url(/images/2-TryOurBeer-PlanerXPA/tablet/link-cropformation.png);
    height: 75px;
    width: 106px;
  }
  @include media-query($on-palm) {
    background: url(/images/2-TryOurBeer-PlanerXPA/-mobile/link-cropformation.png);
    height: 20px;
    width: 136px;
  }
}

.habitable-saizon-link {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/link-habitablesaizone.png);
  height: 97px;
  width: 134px;
  @include media-query($on-laptop) {
    background: url(/images/2-TryOurBeer-PlanerXPA/tablet/link-habitablesaizone.png);
    height: 75px;
    width: 106px;
  }
  @include media-query($on-palm) {
    background: url(/images/2-TryOurBeer-PlanerXPA/-mobile/link-habitablesaizone.png);
    height: 20px;
    width: 136px;
  }
}

.cosmonut-link {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/link-cosmonut.png);
  height: 97px;
  width: 134px;
  @include media-query($on-laptop) {
    background: url(/images/2-TryOurBeer-PlanerXPA/tablet/link-cosmonut.png);
    height: 75px;
    width: 106px;
  }
  @include media-query($on-palm) {
    background: url(/images/2-TryOurBeer-PlanerXPA/-mobile/link-cosmonut.png);
    height: 20px;
    width: 136px;
  }
}

.dark-martian-link {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/link-darkmartian.png);
  height: 97px;
  width: 134px;
  @include media-query($on-laptop) {
    background: url(/images/2-TryOurBeer-PlanerXPA/tablet/link-darkmartian.png);
    height: 75px;
    width: 106px;
  }
  @include media-query($on-palm) {
    background: url(/images/2-TryOurBeer-PlanerXPA/-mobile/link-darkmartian.png);
    height: 20px;
    width: 136px;
  }
}

.paint-planet-red-link {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/link-paintplanetred.png);
  height: 97px;
  width: 134px;
  @include media-query($on-laptop) {
    background: url(/images/2-TryOurBeer-PlanerXPA/tablet/link-paintplanetred.png);
    height: 75px;
    width: 106px;
  }
  @include media-query($on-palm) {
    background: url(/images/2-TryOurBeer-PlanerXPA/-mobile/link-paintplanetred.png);
    height: 20px;
    width: 136px;
  }
}

.light-source-link {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/link-lightsource.png);
  height: 97px;
  width: 134px;
  @include media-query($on-laptop) {
    background: url(/images/2-TryOurBeer-PlanerXPA/tablet/link-lightsource.png);
    height: 75px;
    width: 106px;
  }
  @include media-query($on-palm) {
    background: url(/images/2-TryOurBeer-PlanerXPA/-mobile/link-lightsource.png);
    height: 20px;
    width: 136px;
  }
}

.puppy-chow-link {
  background: url(/images/PuppyChowPorter/link-desktop-puppychowporter.png);
  height: 97px;
  width: 134px;
  @include media-query($on-laptop) {
    background: url(/images/PuppyChowPorter/link-tablet-puppychowporter.png);
    height: 75px;
    width: 106px;
  }
  @include media-query($on-palm) {
    background: url(/images/PuppyChowPorter/link-puppychowporter.png);
    height: 20px;
    width: 136px;
  }
}
