body.cosmonut {
  background: url(/images/5-TryOurBeer-Cosmonut/desktop/backgroud-cosmonut.jpg) no-repeat;
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/5-TryOurBeer-Cosmonut/tablet/backgroud-cosmonut.jpg) no-repeat;
    background-size: cover;
  }
  @include media-query($on-palm) {
    background: url(/images/5-TryOurBeer-Cosmonut/-mobile/background-cosmonut.jpg) no-repeat;
    background-size: cover;
  }
}

.cosmonut .header-logo {
    background: url(/images/5-TryOurBeer-Cosmonut/desktop/header-logo-cosmonut.png);
    @include media-query($on-laptop) {
      background: url(/images/5-TryOurBeer-Cosmonut/tablet/header-logo-cosmonut.png);
    }
}

.cosmonut .planet-container {
  position: absolute;
  z-index: 0;
  left: -100px;
  top: 35%;
  height: 654px;
  width: 424px;
  margin-top: -150px;
  animation: rotate 500s infinite;
  @include media-query($on-laptop) {
    height: 327px;
    width: 212px;
    left: -50px;
  }
}

.cosmonut .squirrel {
  height: 654px;
  width: 424px;
  background-repeat: no-repeat;
  background-image: url(/images/5-TryOurBeer-Cosmonut/desktop/squirrel.png);
  @include media-query($on-laptop) {
    height: 327px;
    width: 212px;
    background-repeat: no-repeat;
    background-image: url(/images/5-TryOurBeer-Cosmonut/tablet/squirrel.png);
  }
  @include media-query($on-palm) {
    background: none;
  }
}

.cosmonut .cashew {
  height: 212px;
  width: 126px;
  animation: cashew 50s, rotate 10s infinite;
  animation-timing-function: linear;
  position: absolute;
  left: 400px;
  top: 40%;
  opacity: 0;
  background-repeat: no-repeat;
  background-image: url(/images/5-TryOurBeer-Cosmonut/desktop/almond.png);
  z-index: 0;
  @include media-query($on-laptop) {
    background-image: url(/images/5-TryOurBeer-Cosmonut/tablet/almond.png);
    height: 98px;
    width: 72px;
    left: 170px;
    animation: cashewTablet 50s, rotate 10s infinite;
  }
  @include media-query($on-palm) {
    background: none;
  }
}

@keyframes cashew {
  0% {
    left: 400px;
    top: 40%;
    opacity: 1;
  }
  100% {
    left: 110%;
    top: 80%;
    opacity: 1;
  }
}

@keyframes cashewTablet {
  0% {
    left: 170px;
    top: 40%;
    opacity: 1;
  }
  100% {
    left: 110%;
    top: 80%;
    opacity: 1;
  }
}

.cosmonut .stars1 {
  background: url(/images/3-TryOurBeer-CropFormation/desktop/background-stars1.png);
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/3-TryOurBeer-CropFormation/tablet/background-stars1.png);
    background-size: cover;
  }
}

.cosmonut .stars2 {
  background: url(/images/3-TryOurBeer-CropFormation/desktop/background-stars2.png);
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/3-TryOurBeer-CropFormation/tablet/background-stars2.png);
    background-size: cover;
  }
}

.cosmonut .stars3 {
  background: url(/images/3-TryOurBeer-CropFormation/desktop/background-stars3.png);
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/3-TryOurBeer-CropFormation/tablet/background-stars2.png);
    background-size: cover;
  }
}

.cosmonut .beer-can {
  background: url(/images/5-TryOurBeer-Cosmonut/desktop/can-cosmonut.png);
  z-index: 1;
  @include media-query($on-laptop) {
    background: url(/images/5-TryOurBeer-Cosmonut/tablet/can-cosmonut.png);
  }
  @include media-query($on-palm) {
    background: url(/images/5-TryOurBeer-Cosmonut/-mobile/can-cosmonut.png);
  }
}

.cosmonut .beer-footer-icons {
  background: url(/images/5-TryOurBeer-Cosmonut/desktop/bottomicons-cosmonut.png);
  height: 103px;
  width: 507px;
  @include media-query($on-laptop) {
    background: url(/images/5-TryOurBeer-Cosmonut/tablet/bottomicons-cosmonut.png);
    height: 47px;
    width: 231px;
  }
}

.cosmonut .site-header {
  background: url(/images/5-TryOurBeer-Cosmonut/desktop/header-cosmonut.png);
  @include media-query($on-laptop) {
    background: url(/images/5-TryOurBeer-Cosmonut/tablet/header-cosmonut.png);
    background-size: cover;
  }
}

.cosmonut .post-title {
  color: $nut;
}
