body.creators {
  background: url(/images/9-TheCreators/desktop/background-thecreators.png) no-repeat;
  background-size: cover;
  height: 100%;
  @include media-query($on-laptop) {
    background: url(/images/9-TheCreators/tablet/background-thecreators.png) no-repeat;
    background-size: cover;
    height: 100%;
  }
  @include media-query($on-palm) {
    background: url(/images/9-TheCreators/-mobile/background-thecreators.png) no-repeat;
    background-size: cover;
    height: 100%;
  }
}

.creators .stars1 {
  background: url(/images/9-TheCreators/desktop/background-creators-stars1.png);
  background-size: cover;
  animation: rotate 250s infinite;
  @include media-query($on-laptop) {
    background: url(/images/9-TheCreators/tablet/background-creators-stars1.png);
  }
  @include media-query($on-palm) {
    background: none;
  }
}

.creators .stars2 {
  background: url(/images/9-TheCreators/desktop/background-creators-stars2.png);
  background-size: cover;
  animation: rotate 300s infinite;
  @include media-query($on-laptop) {
    background: url(/images/9-TheCreators/tablet/background-creators-stars2.png);
  }
  @include media-query($on-palm) {
    background: none;
  }
}

.creators .stars3 {
  background: url(/images/9-TheCreators/desktop/background-creators-stars3.png);
  background-size: cover;
  animation: rotate 500s infinite;
  @include media-query($on-laptop) {
    background: url(/images/9-TheCreators/tablet/background-creators-stars3.png);
  }
  @include media-query($on-palm) {
    background: none;
  }
}

.creators .post-title {
  color: #fff;
  text-align: center;
}

.creator-content {
  display: flex;
  justify-content: center;
  font-weight: bold;
  @include media-query($on-palm) {
    display: block;
  }
}

.creator {
  flex: 1;
  padding: 25px;
  @include media-query($on-palm) {
    margin: 0 auto;
  }
}

.creator-image img {
  display: block;
  margin: 0 auto;
}

.creator-name {
  color: $brand-color;
  min-height: 100px;
  @include media-query($on-palm) {
    min-height: 0;
  }
}

.creator-name .name {
  font-size: 1.5em;
  font-weight: bold;
}
