body.double-black-hole {
  background: url(/images/double-black-hole/background.png) no-repeat;
  height: 100%;
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/double-black-hole/background-tablet.png) no-repeat;
    height: 100%;
    background-size: cover;
  }
  @include media-query($on-palm) {
    background: url(/images/double-black-hole/background-mobile.png) no-repeat;
    height: 100%;
    background-size: cover;
  }
}

.double-black-hole .stars1 {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/background-green-stars1.png);
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/2-TryOurBeer-PlanerXPA/tablet/background-green-stars1.png);
    background-size: cover;
  }
}

.double-black-hole .stars2 {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/background-green-stars2.png);
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/2-TryOurBeer-PlanerXPA/tablet/background-green-stars2.png);
    background-size: cover;
  }
}

.double-black-hole .stars3 {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/background-green-stars3.png);
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/2-TryOurBeer-PlanerXPA/tablet/background-green-stars3.png);
    background-size: cover;
  }
}

.double-black-hole .beer-can {
  background: url(/images/double-black-hole/can-tabletsize.png);
  @include media-query($on-laptop) {
    background: url(/images/double-black-hole/can-tabletsize.png);
  }
  @include media-query($on-palm) {
    background: url(/images/double-black-hole/can-mobilesize.png);
  }
}

.double-black-hole .site-header {
  background: url(/images/double-black-hole/banner.png);
  @include media-query($on-laptop) {
    background: url(/images/double-black-hole/banner-tablet.png);
    background-size: cover;
  }
}

.double-black-hole .post-title {
  color: $double-black-hole;
}
