body.events {
  background: url(/images/11-CosmicEvents/desktop/background-cosmicevents.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  @include media-query($on-laptop) {
    background: url(/images/11-CosmicEvents/tablet/background-cosmicevents.jpg) no-repeat;
    background-size: cover;
    height: 100%;
  }
  @include media-query($on-laptop) {
    background: url(/images/11-CosmicEvents/-mobile/background-cosmicevents.jpg) no-repeat;
    background-size: cover;
    height: 100%;
  }
}

.events .stars1 {
  background: url(/images/11-CosmicEvents/desktop/background-stars-cosmicevents1.png);
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/11-CosmicEvents/tablet/background-stars-cosmicevents1.png);
  }
  @include media-query($on-palm) {
    background: none;
  }
}

.events .stars2 {
  background: url(/images/11-CosmicEvents/desktop/background-stars-cosmicevents2.png);
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/11-CosmicEvents/tablet/background-stars-cosmicevents2.png);
  }
  @include media-query($on-palm) {
    background: none;
  }
}

.events .stars3 {
  background: url(/images/11-CosmicEvents/desktop/background-stars-cosmicevents3.png);
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/11-CosmicEvents/tablet/background-stars-cosmicevents3.png);
  }
  @include media-query($on-palm) {
    background: none;
  }
}

.events .post-title {
  color: #fff;
  margin-left: 33%;
  text-align: left;
  @include media-query($on-laptop) {
    margin-left: 20%;
  }
  @include media-query($on-palm) {
    margin-left: 0;;
  }
}

.events-content {
  font-weight: bold;
  width: 100%;
  .events-copy {
    margin-left: 33%;
    @include media-query($on-laptop) {
      margin-left: 20%;
    }
    @include media-query($on-palm) {
      margin-left: 0;
    }
  }
}
.events .planet-container {
  position: absolute;
  z-index: -1;
  left: -200px;
  top: 50%;
  height: 704px;
  width: 705px;
  margin-top: -270px;
  @include media-query($on-palm) {
    display: none;
  }
}

.events .planet {
  background-repeat: no-repeat;
  background: url(/images/11-CosmicEvents/desktop/moon.png);
  width: 704px;
  height: 705px;
  background-size: cover;
  animation: moveIn 10s, moons 20s infinite 10s;
  animation-timing-function: linear;
  z-index: 9;
  @include media-query($on-laptop) {
    background: url(/images/11-CosmicEvents/tablet/moon.png);
    height: 397px;
    width: 396px;
    animation: moonsTablet 20s infinite;
  }
}

@include media-query($on-palm) {
  .event-date {
    display: block;
  }
}

@keyframes moons {
  0%    {
    background: url(/images/11-CosmicEvents/desktop/moon.png);
  }
  25%  {
    background: url(/images/11-CosmicEvents/desktop/moon-withshadow.png);
  }
  75%    {
    background: url(/images/11-CosmicEvents/desktop/moon.png);
  }
}

@keyframes moveIn {
  from    { margin-left: -80%; }
  to  { margin-left: 0px; }
}

@keyframes moonsTablet {
  0%    {
    background: url(/images/11-CosmicEvents/tablet/moon.png);
  }
  25%  {
    background: url(/images/11-CosmicEvents/tablet/moon-withshadow.png);
  }
  75%    {
    background: url(/images/11-CosmicEvents/tablet/moon.png);
  }
}
