body.habitable-saizon {
  background: url(/images/4-TryOurBeer-HabitableSaizone/desktop/background-habitablesaizone.jpg) no-repeat;
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/4-TryOurBeer-HabitableSaizone/tablet/background-habitablesaizone.jpg) no-repeat;
    background-size: cover;
  }
  @include media-query($on-palm) {
    background: url(/images/4-TryOurBeer-HabitableSaizone/-mobile/background-habitablesaizone.jpg) no-repeat;
    background-size: cover;
  }
}

.habitable-saizon .header-logo {
    background: url(/images/4-TryOurBeer-HabitableSaizone/desktop/header-logo-habitablesaizone.png);
    @include media-query($on-laptop) {
      background: url(/images/4-TryOurBeer-HabitableSaizone/tablet/header-logo-habitablesaizone.png);
    }
}

.habitable-saizon .planet-container {
  position: absolute;
  z-index: -1;
  left: -400px;
  top: 50%;
  height: 743px;
  width: 800px;
  margin-top: -150px;
  animation: rotate 500s infinite;
  @include media-query($on-laptop) {
    left: -175px;
    height: 325px;
    width: 350px;
    margin-top: -200px;
  }
}

.habitable-saizon .planet {
  height: 743px;
  width: 800px;
  animation: habitableSaizon 10s infinite;
  background-repeat: no-repeat;
  background-image: url(/images/4-TryOurBeer-HabitableSaizone/desktop/sun.png);
  @include media-query($on-laptop) {
    background-image: url(/images/4-TryOurBeer-HabitableSaizone/tablet/sun.png);
    height: 325px;
    width: 350px;
    animation: habitableSaizonTablet 10s infinite;
  }
}

@keyframes habitableSaizon {
  0% {
    background-image: url(/images/4-TryOurBeer-HabitableSaizone/desktop/sun.png);
  }
  50% {
    background-image: url(/images/4-TryOurBeer-HabitableSaizone/desktop/sun2.png);
  }
  100% {
    background-image: url(/images/4-TryOurBeer-HabitableSaizone/desktop/sun.png);
  }
}

@keyframes habitableSaizonTablet {
  0% {
    background-image: url(/images/4-TryOurBeer-HabitableSaizone/tablet/sun.png);
  }
  50% {
    background-image: url(/images/4-TryOurBeer-HabitableSaizone/tablet/sun2.png);
  }
  100% {
    background-image: url(/images/4-TryOurBeer-HabitableSaizone/tablet/sun.png);
  }
}

.habitable-saizon .stars1 {
  background: url(/images/3-TryOurBeer-CropFormation/desktop/background-stars1.png);
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/3-TryOurBeer-CropFormation/tablet/background-stars1.png);
    background-size: cover;
  }
}

.habitable-saizon .stars2 {
  background: url(/images/3-TryOurBeer-CropFormation/desktop/background-stars2.png);
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/3-TryOurBeer-CropFormation/tablet/background-stars2.png);
    background-size: cover;
  }
}

.habitable-saizon .stars3 {
  background: url(/images/3-TryOurBeer-CropFormation/desktop/background-stars3.png);
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/3-TryOurBeer-CropFormation/tablet/background-stars3.png);
    background-size: cover;
  }
}

.habitable-saizon .beer-can {
  background: url(/images/4-TryOurBeer-HabitableSaizone/desktop/can-habitablesaizone.png);
  @include media-query($on-laptop) {
    background: url(/images/4-TryOurBeer-HabitableSaizone/tablet/can-habitablesaizone.png);
  }
  @include media-query($on-palm) {
    background: url(/images/4-TryOurBeer-HabitableSaizone/-mobile/can-habitablesaizone.png);
  }
}

.habitable-saizon .beer-footer-icons {
  background: url(/images/4-TryOurBeer-HabitableSaizone/desktop/icons-habitablesaizone.png);
  height: 94px;
  width: 236px;
  @include media-query($on-laptop) {
    background: url(/images/4-TryOurBeer-HabitableSaizone/desktop/icons-habitablesaizone.png);
    height: 94px;
    width: 236px;
  }
}

.habitable-saizon .site-header {
  background: url(/images/4-TryOurBeer-HabitableSaizone/desktop/header-habitablesaizone.png);
  @include media-query($on-laptop) {
    background: url(/images/4-TryOurBeer-HabitableSaizone/tablet/header-habitablesaizone.png);
    background-size: cover;
  }
}

.habitable-saizon .post-title {
  color: $red;
}
