html.home {
  height: 100%;
}

body.home {
  background: url(/images/1-AreYou21/desktop/background21.png);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.home img {
  display: block;
  margin: 0 auto;
}

.planet {
  background: url(/images/1-AreYou21/desktop/planet.png);
  background-size: cover;
  animation: rotate 300s infinite;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.planet-container {
  position: relative;
  height: 555px;
  width: 555px;
  display: block;
  margin: 0 auto;
}

.planet-text-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.home .stars1 {
  background: url(/images/1-AreYou21/desktop/background-21-stars1.png);
  background-size: cover;
  animation: rotate 250s infinite;
}

.home .stars2 {
  background: url(/images/1-AreYou21/desktop/background-21-stars2.png);
  background-size: cover;
  animation: rotate 200s infinite;
}

.home .stars3 {
  background: url(/images/1-AreYou21/desktop/background-21-stars3.png);
  background-size: cover;
  animation: rotate 500s infinite;
}

.home h1 {
  font-size: 5em;
  letter-spacing: 35px;
  margin: 0 -35px -15px 0;
  text-transform: uppercase;
}

.home h4 {
  font-size: 1.5em;
  font-weight: 900;
}

.home h3 {
  font-size: 2em;
  color: #84ad40;
  font-weight: 900;
  text-transform: uppercase;
}

.planet-text h2 {
  font-size: 3em;
  font-weight: 900;
}
.planet-text p {
  font-size: 3em;
  font-weight: 900;
}
