// GENERAL
html {
  min-height: 100%;
  overflow-x: hidden;
}

.davida {
  font-family: Davida;
  font-weight: normal;
}
.green {
  color: $brand-color;
}
.yellow {
  color: $yellow;
}
.red {
  color: $red;
}
.nut {
  color: $nut;
}
.martian-red {
  color: $martian-red;
}
.painted-red {
  color: $painted-red;
}
.light-source-text {
  color: $light-source;
}

/**
 * Site header
 */
.site-header {
    background: url(/images/2-TryOurBeer-PlanerXPA/desktop/header-main.png);
    min-height: 140px;
    // Positioning context for the mobile navigation icon
    position: relative;
    @include media-query($on-laptop) {
      background: url(/images/2-TryOurBeer-PlanerXPA/tablet/header-main.png);
      background-size: cover;
      min-height: 79px;
      height: 79px;
    }
}

.header-logo {
    background: url(/images/2-TryOurBeer-PlanerXPA/desktop/header-logo.png);
    height: 94px;
    width: 246px;
    @include media-query($on-laptop) {
      background: url(/images/2-TryOurBeer-PlanerXPA/tablet/header-logo.png);
      background-position: center -5px;
      height: 63px;
      width: 164px;
    }
}

.site-title {
  float: left;
}

.site-nav {
  float: right;
  z-index: 9;

  .trigger {
    display: flex;
    height: 114px;
    align-items: center;
    @include media-query($on-laptop) {
      display: flex;
      height: 79px;
      align-items: auto;
    }
    @include media-query($on-palm) {
      height: auto;
    }
    a {
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      padding: 50px 30px;
      @include media-query($on-laptop) {
        padding: 5px 20px;
        font-size: .9em;
        display: block;
      }
      @include media-query($on-palm) {
        text-align: right;
        br {
          content: " ";
        }
        br:after {
          content: " ";
        }
      }

    }
    a.active {
      background: url(/images/2-TryOurBeer-PlanerXPA/desktop/header-link-selected.png);
      background-size: cover;
      @include media-query($on-laptop) {
        background: url(/images/2-TryOurBeer-PlanerXPA/tablet/header-link-selected.png);
        background-size: cover;
      }
      @include media-query($on-palm) {
        background: none;
      }
    }
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
        margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;

        > svg {
            width: 18px;
            height: 15px;

            path {
                fill: $grey-color-dark;
            }
        }
    }

    .trigger {
        clear: both;
        display: none;
    }

    &:hover .trigger {
        display: block;
        padding-bottom: 5px;
    }

    .page-link {
        display: block;
        padding: 5px 10px;

        &:not(:last-child) {
            margin-right: 0;
        }
        margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      @include media-query($on-palm) {
        display: block;
        text-align: center;
      }
      div {
        padding-right: 50px;
      }
      @include media-query($on-laptop) {
          div {
            padding-right: 15px;
          }
      }
      @include media-query($on-palm) {
        .inline {
            display: inline-block;
            padding: 15px 5px;
            font-size: .7em;
        }
      }
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    text-align: right;
    color: $brand-color;
}

.post-title {
    font-size: 3em;
    letter-spacing: 5px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    display: flex;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
// REUSABLE CSS
.stars {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
// GENERAL REUSEABLE ANIMATIONS
@keyframes rotate {
  from    { transform: rotate(0deg); }
  to  { transform: rotate(360deg); }
}

// Beer content
.beer-content {
  flex: 1;
  padding: 0 0 0 50px;
  font-weight: bold;
  position: relative;
  @include media-query($on-laptop) {
    padding: 0 0 0 25px;
  }
}

// Beer rating table
.beer-figures {
  td {
    padding-right: 25px;
  }
}

.beer-can {
  width: 304px;
  height: 749px;
  display: inline-block;
  margin-left: 50px;
  @include media-query($on-laptop) {
    width: 199px;
    height: 490px;
    margin-left: 25px;
  }
  @include media-query($on-palm) {
    height: 343px;
    width: 140px;
    margin: 0;
    max-width: 50%;
  }
}

.beer-footer-icons {
  height: 83px;
  width: 357px;
  position: absolute;
  bottom: 0;
  @include media-query($on-laptop) {
    height: 51px;
    width: 209px;
  }
}

.beer-text-mobile {
  display: none;
  font-weight: bold;
}

.only-mobile {
  display: none;
}

@include media-query($on-palm) {
  .no-mobile {
    display: none;
  }
  .only-mobile {
    display: block;
  }
  .post-header {
    text-align: left;
  }
  .beer-text-mobile {
    display: block;
    clear: both;
    padding-top: 15px;
  }
  .post-content {
    display: block;
  }
  .beer-can {
    float:left;
    margin-right: 15px;
  }
  .beer-footer-icons {
    position: relative !important;
    float: left;
  }
  .beer-bar {
    display: block !important;
  }
  .stars {
    display: none;
  }
  .planet-container {
    display: none;
  }
  .home .planet-container {
    display: block;
  }
  .beer-footer-icons {
    max-width: 50% !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }
  .beer-content .post-title {
    font-size: 24px;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
  .beer-figures td {
    padding-right: 5px;
  }
}

@include media-query(320px) {
  .beer-content .post-title {
    font-size: 16px;
  }
}
