body.dark-martian {
  background: url(/images/6-TryOurBeer-DarkMartian/desktop/background-darkmartian.jpg) no-repeat;
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/6-TryOurBeer-DarkMartian/tablet/background-darkmartian.jpg) no-repeat;
    background-size: cover;
  }
  @include media-query($on-palm) {
    background: url(/images/6-TryOurBeer-DarkMartian/-mobile/background-darkmartian.jpg) no-repeat;
    background-size: cover;
  }
}

.dark-martian .header-logo {
    background: url(/images/6-TryOurBeer-DarkMartian/desktop/header-logo-darkmartian.png);
    @include media-query($on-laptop) {
      background: url(/images/6-TryOurBeer-DarkMartian/tablet/header-logo-darkmartian.png);
    }
}

.dark-martian .planet-container {
  position: absolute;
  z-index: 0;
  left: -280px;
  top: 35%;
  height: 662px;
  width: 760px;
  margin-top: -150px;
  @include media-query($on-laptop) {
    left: -152px;
    top: 50%;
    height: 265px;
    width: 304px;
    margin-top: -170px;
  }
}

@keyframes martian {
  0%    { background-image: url(/images/6-TryOurBeer-DarkMartian/desktop/martian.png); }
  25%  { background-image: url(/images/6-TryOurBeer-DarkMartian/desktop/martian-dark.png); }
  100%    { background-image: url(/images/6-TryOurBeer-DarkMartian/desktop/martian.png); }
}

@keyframes martianTablet {
  0%    { background-image: url(/images/6-TryOurBeer-DarkMartian/table/martian.png); }
  25%  { background-image: url(/images/6-TryOurBeer-DarkMartian/table/martian-dark.png); }
  100%    { background-image: url(/images/6-TryOurBeer-DarkMartian/table/martian.png); }
}

.dark-martian .planet {
  height: 662px;
  width: 760px;
  background-repeat: no-repeat;
  animation: martian 50s infinite;
  background-image: url(/images/6-TryOurBeer-DarkMartian/desktop/martian.png);
  @include media-query($on-laptop) {
    height: 265px;
    width: 304px;
    animation: martianTable 50s infinite;
    background-image: url(/images/6-TryOurBeer-DarkMartian/tablet/martian.png);
  }
}

.dark-martian .stars1 {
  background: url(/images/3-TryOurBeer-CropFormation/desktop/background-stars1.png);
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/3-TryOurBeer-CropFormation/tablet/background-stars1.png);
    background-size: cover;
  }
}

.dark-martian .stars2 {
  background: url(/images/3-TryOurBeer-CropFormation/desktop/background-stars2.png);
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/3-TryOurBeer-CropFormation/tablet/background-stars2.png);
    background-size: cover;
  }
}

.dark-martian .stars3 {
  background: url(/images/3-TryOurBeer-CropFormation/desktop/background-stars3.png);
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/3-TryOurBeer-CropFormation/tablet/background-stars3.png);
    background-size: cover;
  }
}

.dark-martian .beer-can {
  background: url(/images/6-TryOurBeer-DarkMartian/desktop/can-darkmartian.png);
  @include media-query($on-laptop) {
    background: url(/images/6-TryOurBeer-DarkMartian/tablet/can-darkmartian.png);
  }
  @include media-query($on-palm) {
    background: url(/images/6-TryOurBeer-DarkMartian/-mobile/can-darkmartian.png);
  }
}

.dark-martian .beer-footer-icons {
  background: url(/images/6-TryOurBeer-DarkMartian/desktop/bottomicons-darkmartian.png);
  height: 97px;
  width: 319px;
  @include media-query($on-laptop) {
    background: url(/images/6-TryOurBeer-DarkMartian/tablet/bottomicons-darkmartian.png);
    height: 46px;
    width: 150px;
  }
}

.dark-martian .site-header {
  background: url(/images/6-TryOurBeer-DarkMartian/desktop/header-darkmartian.png);
  @include media-query($on-laptop) {
    background: url(/images/6-TryOurBeer-DarkMartian/tablet/header-darkmartian.png);
    background-size: cover;
  }
}

.dark-martian .post-title {
  color: $martian-red;
}
