body.our-craft {
  background: url(/images/10-InsideOurCraft/desktop/background-insideourcraft.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  @include media-query($on-laptop) {
    background: url(/images/10-InsideOurCraft/tablet/background-insideourcraft.jpg) no-repeat;
    background-size: cover;
    height: 100%;
  }
  @include media-query($on-palm) {
    background: url(/images/10-InsideOurCraft/-mobile/background-insideourcraft.jpg) no-repeat;
    background-size: cover;
    height: 100%;
  }
}

.our-craft .stars1 {
  background: url(/images/10-InsideOurCraft/desktop/background-stars-insidecraft1.png);
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/10-InsideOurCraft/tablet/background-stars-insidecraft1.png);
  }
  @include media-query($on-palm) {
    background: none;
  }
}

.our-craft .stars2 {
  background: url(/images/10-InsideOurCraft/desktop/background-stars-insidecraft2.png);
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/10-InsideOurCraft/tablet/background-stars-insidecraft2.png);
  }
  @include media-query($on-palm) {
    background: none;
  }
}

.our-craft .stars3 {
  background: url(/images/10-InsideOurCraft/desktop/background-stars-insidecraft3.png);
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/10-InsideOurCraft/tablet/background-stars-insidecraft3.png);
  }
  @include media-query($on-palm) {
    background: none;
  }
}

.our-craft .post-title {
  color: #fff;
  text-align: center;
}

.craft-content {
  display: flex;
  justify-content: center;
  font-weight: bold;
  @include media-query($on-palm) {
    display: block;
  }


  .ufos {
    flex: 1;
    background-image: url(/images/10-InsideOurCraft/desktop/ufopic.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: 360px;
    min-height: 336px;
    background-size: contain;
    @include media-query($on-laptop) {
      background-image: url(/images/10-InsideOurCraft/tablet/ufopic.png);
      max-width: 396px;
      min-height: 396px;
    }
    @include media-query($on-palm) {
      background-image: url(/images/10-InsideOurCraft/-mobile/ufopic.png);
      max-width: 100%;
      min-height: 317px;
    }
  }
  .craft-copy {
    flex: 1;
  }

}
.our-craft .post-content {
  flex-wrap: wrap;
  }

.craft-pics {
  margin:auto;
  
  }
