body.paint-planet-red {
  background: url(/images/7-TryOurBeer-PaintPlanetRed/desktop/background-paintplanetred.png) no-repeat;
  min-height: 100vh;
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/7-TryOurBeer-PaintPlanetRed/tablet/background-paintplanetred.png) no-repeat;
    background-size: cover;
  }
  @include media-query($on-palm) {
    background: url(/images/7-TryOurBeer-PaintPlanetRed/-mobile/background-paintplanetred.png) no-repeat;
    background-size: cover;
  }
}


.paint-planet-red .planet-container {
  position: absolute;
  z-index: 0;
  left: -558px;
  top: 35%;
  height: 714px;
  width: 1300px;
  margin-top: -250px;
  transform: rotate(-25deg);
  @include media-query($on-laptop) {
    left: -150px;
    height: 300px;
    width: 301px;
    margin-top: -200px;
  }
}

.paint-planet-red .planet {
  height: 714px;
  width: 716px;
  float: left;
  animation: paintPlanentRed 10s infinite;
  background-repeat: no-repeat;
  background-image: url(/images/7-TryOurBeer-PaintPlanetRed/desktop/paintedplanet1.png);
  @include media-query($on-laptop) {
    background-image: url(/images/7-TryOurBeer-PaintPlanetRed/tablet/paintedplanet1.png);
    height: 300px;
    width: 301px;
    animation: paintPlanentRedTablet 10s infinite;
  }
}

.paint-planet-red .ship-container {
  height: 244px;
  width: 582px;
  animation: shipSpray 10s infinite;
  float: left;
  margin-top: 200px;
  margin-left: -175px;
  background-repeat: no-repeat;
  background-image: url(/images/7-TryOurBeer-PaintPlanetRed/desktop/paint-ship.png);
}

@keyframes shipSpray {
  0% {
    background-image: url(/images/7-TryOurBeer-PaintPlanetRed/desktop/paint-ship.png);
  }
  50% {
    background-image: url(/images/7-TryOurBeer-PaintPlanetRed/desktop/paint-ship-paint.png);
  }
  100% {
    background-image: url(/images/7-TryOurBeer-PaintPlanetRed/desktop/paint-ship.png);
  }
}

@keyframes paintPlanentRed {
  0% {
    background-image: url(/images/7-TryOurBeer-PaintPlanetRed/desktop/paintedplanet1.png);
  }
  50% {
    background-image: url(/images/7-TryOurBeer-PaintPlanetRed/desktop/paintedplanet2.png);
  }
  100% {
    background-image: url(/images/7-TryOurBeer-PaintPlanetRed/desktop/paintedplanet1.png);
  }
}

@keyframes paintPlanentRedTablet {
  0% {
    background-image: url(/images/7-TryOurBeer-PaintPlanetRed/tablet/paintedplanet1.png);
  }
  50% {
    background-image: url(/images/7-TryOurBeer-PaintPlanetRed/tablet/paintedplanet2.png);
  }
  100% {
    background-image: url(/images/7-TryOurBeer-PaintPlanetRed/tablet/paintedplanet1.png);
  }
}

.paint-planet-red .stars1 {
  background: url(/images/3-TryOurBeer-CropFormation/desktop/background-stars1.png);
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/3-TryOurBeer-CropFormation/tablet/background-stars1.png);
    background-size: cover;
  }
}

.paint-planet-red .stars2 {
  background: url(/images/3-TryOurBeer-CropFormation/desktop/background-stars2.png);
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/3-TryOurBeer-CropFormation/tablet/background-stars2.png);
    background-size: cover;
  }
}

.paint-planet-red .stars3 {
  background: url(/images/3-TryOurBeer-CropFormation/desktop/background-stars3.png);
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/3-TryOurBeer-CropFormation/tablet/background-stars3.png);
    background-size: cover;
  }
}

.paint-planet-red .beer-can {
  background: url(/images/7-TryOurBeer-PaintPlanetRed/tablet/can-paintplanetred.png);
  @include media-query($on-laptop) {
    background: url(/images/7-TryOurBeer-PaintPlanetRed/tablet/can-paintplanetred.png);
  }
  @include media-query($on-palm) {
    background: url(/images/7-TryOurBeer-PaintPlanetRed/-mobile/can-paintplanetred.png);
  }
}

.paint-planet-red .beer-footer-icons {
  background: url(/images/7-TryOurBeer-PaintPlanetRed/desktop/bottomicons-darkmartian.png);
  height: 103px;
  width: 507px;
}

.paint-planet-red .site-header {
  background: url(/images/7-TryOurBeer-PaintPlanetRed/desktop/header-paintplanetred.png) no-repeat;
  background-position: bottom;
  @include media-query($on-laptop) {
    background: url(/images/7-TryOurBeer-PaintPlanetRed/tablet/header-paintplanetred.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.paint-planet-red .post-title {
  color: $painted-red;
}
