body.x-pa {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/backgroudXPA.png) no-repeat;
  background-size: cover;
}

.x-pa .planet-container {
  position: absolute;
  z-index: -1;
  left: -390px;
  top: 50%;
  height: 779px;
  width: 779px;
  margin-top: -300px;
}

.x-pa .planet {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/planet.png);
  height: 779px;
  width: 779px;
  animation: rotate 500s infinite;
}

.x-pa .stars1 {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/background-green-stars1.png);
  background-size: cover;
  animation: rotate 250s infinite;
}

.x-pa .stars2 {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/background-green-stars2.png);
  background-size: cover;
  animation: rotate 300s infinite;
}

.x-pa .stars3 {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/background-green-stars3.png);
  background-size: cover;
  animation: rotate 500s infinite;
}

.x-pa .beer-can {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/can-planetxpa.png);
}

.x-pa .beer-footer-icons {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/bottomiconsXPA.png);
}
