body.x-pa {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/backgroudXPA.png) no-repeat;
  height: 100%;
  min-height: 100vh;
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/2-TryOurBeer-PlanerXPA/tablet/backgroudXPA.png) no-repeat;
    height: 100%;
    background-size: cover;
  }
  @include media-query($on-palm) {
    background: url(/images/2-TryOurBeer-PlanerXPA/-mobile/background-xpa.png) no-repeat;
    height: 100%;
    background-size: cover;
  }
}

.x-pa .planet-container {
  position: absolute;
  z-index: 0;
  left: -390px;
  top: 40%;
  height: 779px;
  width: 779px;
  margin-top: -300px;
  @include media-query($on-laptop) {
    left: -175px;
    top: 50%;
    height: 352px;
    width: 351px;
    margin-top: -250px;
  }
}

.x-pa .planet {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/planet.png);
  height: 779px;
  width: 779px;
  animation: rotate 500s infinite;
  @include media-query($on-laptop) {
    background: url(/images/2-TryOurBeer-PlanerXPA/tablet/planet.png);
    height: 352px;
    width: 351px;
  }
}

.x-pa .stars1 {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/background-green-stars1.png);
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/2-TryOurBeer-PlanerXPA/tablet/background-green-stars1.png);
    background-size: cover;
  }
}

.x-pa .stars2 {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/background-green-stars2.png);
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/2-TryOurBeer-PlanerXPA/tablet/background-green-stars2.png);
    background-size: cover;
  }
}

.x-pa .stars3 {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/background-green-stars3.png);
  background-size: cover;
  @include media-query($on-laptop) {
    background: url(/images/2-TryOurBeer-PlanerXPA/tablet/background-green-stars3.png);
    background-size: cover;
  }
}

.x-pa .beer-can {
  background: url(/images/2-TryOurBeer-PlanerXPA/tablet/can-planetxpa.png);
  @include media-query($on-laptop) {
    background: url(/images/2-TryOurBeer-PlanerXPA/tablet/can-planetxpa.png);
  }
  @include media-query($on-palm) {
    background: url(/images/2-TryOurBeer-PlanerXPA/-mobile/can-planetxpa.png);
  }
}

.x-pa .beer-footer-icons {
  background: url(/images/2-TryOurBeer-PlanerXPA/desktop/bottomiconsXPA.png);
  @include media-query($on-laptop) {
    background: url(/images/2-TryOurBeer-PlanerXPA/tablet/bottomiconsXPA.png);
  }
}
